<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <body>
    <div class="bg">
      <div class="header">
        <app-header></app-header>
      </div>
      <article class="scroller">
        <section>
          <app-principal></app-principal>
        </section>
        <section>
          <app-experience></app-experience>
        </section>
        <section>
          <app-projects></app-projects>
        </section>
        <section>
          <app-social></app-social>
        </section>
      </article>
    <!--<div class="scroll-arrows">
      <div class="arrow"></div>
      <div class="arrow"></div>
    </div>-->
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>