<div class="container">
    <div class="photo">
        <img src="assets/icons/photo/eu.png">
    </div>

    <div class="text-block">
        <h1 class="title">Olá, eu sou</h1>
        <div class="title-images">
            <div class="ofrederico">
            <img src="assets/icons/oFredericoLetters/uppercase letter o.svg">
            <img src="assets/icons/oFredericoLetters/uppercase letter f.svg">
            <img src="assets/icons/oFredericoLetters/lowercase letter r.svg">
            <img src="assets/icons/oFredericoLetters/lowercase letter e.svg">
            <img src="assets/icons/oFredericoLetters/lowercase letter d.svg">
            <img src="assets/icons/oFredericoLetters/lowercase letter e.svg">
            <img src="assets/icons/oFredericoLetters/lowercase letter r.svg">
            <img src="assets/icons/oFredericoLetters/lowercase letter i.svg">
            <img src="assets/icons/oFredericoLetters/lowercase letter c.svg">
            <img src="assets/icons/oFredericoLetters/lowercase letter o.svg"> 
        </div>
        </div>
        <div class="text-box">
            <p>Sou estudante de Engenharia de Software na PUC Minas, no quinto período. Atuo como estagiário, desenvolvendo aplicações full stack com foco em <b>Angular</b> e <b>Typescript</b>.</p>
            <p>Além disso, também tenho conhecimento em Java e C, além de experiência profissional em PHP/Laravel, HTML, CSS, JavaScript e SQL.</p>
        </div>
    </div>
</div>