<div class="container">
    <div class="photo">
        <img src="assets/icons/photo/eu.png" alt="eu">
    </div>

    <div class="text-block">
        <h1 class="title">Olá, eu sou</h1>
        <div class="title-images">
            <div class="ofrederico">
            <img src="assets/icons/oFredericoLetters/uppercase letter o.svg" alt="Letra">
            <img src="assets/icons/oFredericoLetters/uppercase letter f.svg" alt="Letra">
            <img src="assets/icons/oFredericoLetters/lowercase letter r.svg" alt="Letra">
            <img src="assets/icons/oFredericoLetters/lowercase letter e.svg" alt="Letra">
            <img src="assets/icons/oFredericoLetters/lowercase letter d.svg" alt="Letra">
            <img src="assets/icons/oFredericoLetters/lowercase letter e.svg" alt="Letra">
            <img src="assets/icons/oFredericoLetters/lowercase letter r.svg" alt="Letra">
            <img src="assets/icons/oFredericoLetters/lowercase letter i.svg" alt="Letra">
            <img src="assets/icons/oFredericoLetters/lowercase letter c.svg" alt="Letra">
            <img src="assets/icons/oFredericoLetters/lowercase letter o.svg" alt="Letra"> 
        </div>
        </div>
        <div class="text-box">
            <p>Sou estudante de Engenharia de Software na PUC Minas, no quinto período. Atuo como estagiário, desenvolvendo aplicações full stack com foco em <b>Angular</b> e <b>Typescript</b>.</p>
            <p>Tenho experiência profissional em PHP/Laravel, HTML, CSS, JavaScript e SQL , além de conhecimento em Java e C.</p>
        </div>
    </div>
</div>