<div class="container">
    <h1>Minhas experiências: </h1>
    <div class="content">
        <div class="card1">
            <h2>MEDLOGIC SOFTWARE</h2>
            <p>Outubro de 2022 - atualmente</p>
            <p>Empresa de software do segmento da saúde</p>
            <p>Estágio focado no desenvolvimento web utilizando o framework ANGULAR, TYPESCRIPT, ANGULAR MATERIAL UI, RXJS, ORM PRISMA e SQL SERVER</p>
        </div>
        <div class="card2">
            <h2>GAFIT SOLUÇÕES</h2>
            <p>Julho de 2022 - outubro de 2022</p>
            <p>Fábrica de software</p>
            <p>Estágio focado no desenvolvimento web utilizando PHP junto ao framework LARAVEL e MySQL</p>
        </div>
    </div>
</div>