.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #281952;
    font-family: 'Jolly Lodger';
    padding: 20px;
    font-size: 40px;
    align-items: center;
}

.title {
    font-size: 64px;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 840px) {
    a {
      display: none;
    }

    .header {
        justify-content: center;
        padding: 0;
    }

    .title {
        font-size: 54px;
    }
  }