<div class="social-container">
    <h1>Redes Sociais</h1>
    <div class="itens">
        <div class="social-item" *ngFor="let item of social">
            <a [href]="item.link" target="_blank">
                <img src="{{ item.img }}" alt="{{ item.name }}" class="social-icon">
            </a>
        </div>
    </div>
    <h2 class="recado">Será um prazer entrar em contato com você!</h2>
    <div class="footer">
        <h2>Copyright © 2023 Frederico - Todos os direitos reservados.</h2>
    </div>
</div>
